body {
  background-color: black;
}
img {
  height: auto;
  width: 100%;
  border: 5px solid white;
}
h1, h3 {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
h3{
  text-transform: uppercase;
}
.poster {
  margin-top: 10%;
  margin: 100px;
}